node_modules
dist
.turbo
.env
.env.local
media/uploads/*
!media/uploads/.gitignore
!media/uploads/.gitkeep
media/schedule/*
!media/schedule/.gitignore
!media/schedule/.gitkeep
*.log
.DS_Store
**/.DS_Store
media/.DS_Store
